.innerChild {
    margin-top: 6rem;
}

.header {
    padding-bottom: 10px;
}

.form-check {
    padding-bottom: 10px;
}

.dashboard {
    display: flex;
    justify-content: center;
    padding: 1rem;
    border-bottom: 5px lightblue solid;
    margin-top: 10px;
}