<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">School Directory</a>
    
    <a class="nav-item nav-link" routerLink="/add-student">Add Student</a>
    <a class="nav-item nav-link" routerLink="">Student List</a>
    <a class="nav-item nav-link" href="#" data-toggle="modal" data-target="#exampleModalCenter">Delete All Students</a>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure ?</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h5>If you click on confirm all student data will be deleted from Student Directory</h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteAllStudents()">Confirm</button>
          </div>
        </div>
      </div>
    </div>

    <form class="form-inline" #searchForm (ngSubmit)="onSubmit(keyword)">
      <input class="form-control mr-sm-2" type="text" name="keyword" aria-label="Search" size="50"[(ngModel)]="keyword" (input)="onSubmit(keyword)" required>
      <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="onSubmit(keyword)">Search</button>
      <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="clearSearch()">Clear</button>
    </form>
</nav>
<div class="parent" *ngIf="keyword">
  <div class="child1">
    <h2>Search Results : </h2>
    <table class="table mt-4">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Student ID</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Age</th>
          <th scope="col">City</th>
        </tr>
      </thead>
      <tbody *ngFor="let student of searchResults">
        <tr>
          <th scope="row">{{student._id}}</th>
          <td>{{student.name}}</td>
          <td>{{student.email}}</td>
          <td>{{student.age}}</td>
          <td>{{student.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>