<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">School Directory</a>
    
    <a class="nav-item nav-link" routerLink="/add-student">Add Student</a>
    <a class="nav-item nav-link" routerLink="">Student List</a>
    <a class="nav-item nav-link" routerLink="">Delete</a>

    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>