<!-- <div class="parent">
    <div class="child col-3 d-flex justify-content-center">
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">
                {{ student._id }} :  {{ student.name }}
            </h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Email : {{ student.email }}</li>
              <li class="list-group-item">Age : {{ student.age }}</li>
              <li class="list-group-item">City : {{ student.city }}</li>
            </ul>
        </div>
    </div>
</div> -->