<div class="parent">
    <div class="child">
        <table class="table mt-4">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">City</th>
              </tr>
            </thead>
            <tbody *ngFor="let student of student_list">
              <tr>
                <th scope="row" (click)="getStudentDetailById(student._id)">{{student._id}}</th>
                <td>{{student.name}}</td>
                <td>{{student.email}}</td>
                <td>{{student.age}}</td>
                <td>{{student.city}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>